/* MENU PRINCIPAL */
#menuTitre{
	-fx-font-size: 40px;
	-fx-font-weight: 700;
	-fx-padding: 0px 0px 50px 0px;
}

#menuFenetre{
	-fx-alignment:center;
	-fx-background-color: white;
}

.menuBouton{
	-fx-font-size: 15px;
	-fx-font-weight: 600;
	-fx-pref-width: 220px;
	-fx-padding: 10px 0px;
	/*-fx-margin: 10px 0px;  Bruh y'a pas de margin*/
}
.menuBouton:hover{
	-fx-cursor: hand;
}
/* ECRAN DE JEU */
#gamePane{
	/*-fx-background-color: black;*/
}

/* PNJ  NPC*/
.npcMessage{
	-fx-font-size: 14px;
	-fx-fill: white;
	-fx-padding:0px 15px 0px 15px ;
	-fx-alignment:center;
}
.npcBouton{
	
}
.npcBouton:hover{
	-fx-cursor: hand;
}
	
